/*.fixed-form {
	position: fixed;
	top: 0px;
	left: 50%;
	width: 80%;
	height: 80%;
	transform: translate(-50%, 0);
	background-color: #fff;
	border: 2px solid green;
	border-top: inherit;
	z-index: 5;

}

.inner-form {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 5px;
}

.fixed-form p {
	line-height: 0.3;
	font-size: 2vw;
}

.spec-word {
	font-size: 3.5vw;
}


.form-paragraph:after {
	content: '*';
	color: red;

} */

.container {
	position: fixed;
	top: 0px;
	left: 50%;
	width: 80%;
	height: auto;
	font-family: Arial, sans-serif;
	transform: translate(-50%, 0);
	background-color: #fff;
	border: 2px solid green;
	border-radius: 0 0 10px 10px;
	border-top: inherit;
	z-index: 100;
}

.grid {
	width: 100%;
	font-size: 2vw;
}

.grid p {
	text-align: center;
	color: black;
}

[class*='col-'] {
	width: 100%;
	float: left;
	min-height: 1px;
}



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}

.col-12 {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}

.row {
  width: 100%;
  margin: 5px 5px;
  content: "";
  display: table;
  clear: both;
}

.row .text {
	text-align: right;
	text-transform: uppercase;
}

.row .text:after {
	content: '*';
	color: red;


}

.col {
	margin: 5px;
}

.button {
	background-color: green;
	font-size: 1.4vw;
	padding: 10px;
	color: #fff;
	border-radius: 5px;
}

.bottom {
	color:grey;
}